<div class="m-0">
    <div class="container py-2">
        <div class="row h-100 align-items-center py-5">
            <div class="hero me-5  p-5 me-2 col-lg-12 rounded-4">
                <h1 class="display-4">About us page</h1>
                <p class="lead text-muted mb-0">This is a Simple To-Do MEAN Web Application</p>
                <div class="mt-4">
                    <p class="d-inline fs-5 mt-2 text-muted">Built Using </p>
                    <div class="d-inline mt-2">
                        <fa-icon id='angular' class=' fs-4 mx-2' [icon]="icons.angular"></fa-icon>
                        <fa-icon id='node' class='fs-4 mx-2' [icon]="icons.node"></fa-icon>
                        <fa-icon id='mongo' class='fs-4 mx-2' [icon]="icons.mongo"></fa-icon>
                        <fa-icon id='bootstrap' class='fs-4 mx-2' [icon]="icons.bootstrap"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container pt-5">
        <div id="docSection" class="d-flex row justify-content-between mb-5">
            <div
                class="section mrounded-4 p-4  mx-5 mx-md-0 px-5 col-8 col-lg-5 d-flex flex-row  justify-content-evenly align-items-end">
                <div class="  mx-md-0 d-flex flex-column ">

                    <div class="mx-2">
                        <h2 class="font-weight-light"> Angular Frontend Documentation</h2>
                        <p class=" font-italic text-danger  mb-4">he Documentation is generated
                            using
                            <a style="color:#3498DB" class="link text-decoration-none"
                                href="https://compodoc.app/"><b>Compodoc</b></a>
                        </p>
                    </div>

                    <div class="mb-3 me-4 mt-3 d-flex flex-column">
                        <a href="#" class="btn btn-light  mb-3 rounded-pill shadow-sm">To Documentation</a>
                    </div>
                </div>
                <div class=" d-flex flex-column ms-4">
                    <img class="hide me-2" width=200 alt='Compodoc Logo ' src="./assets/compodoc.png">
                </div>

            </div>
            <div
                class="section rounded-4 p-4  mx-5 mx-md-0 px-5 col-8 col-lg-5 d-flex flex-row  justify-content-evenly align-items-end">
                <div class="  mx-md-0 d-flex flex-column ">

                    <div class="mx-2">
                        <h2 class="font-weight-light"> Our Git Hub Repository</h2>
                        <p class=" font-italic text-danger  mb-4"> Check Out Our Source Code!
                        </p>
                    </div>

                    <div class="mb-3 me-4 mt-3 d-flex flex-column">
                        <a href="https://github.com/somayaax/node-todoList.git"
                            class="btn btn-light  mb-3 rounded-pill shadow-sm">Front End</a>
                        <a href="https://github.com/rAboegila/ToDoList_project.git"
                            class="btn btn-light  mb-2  rounded-pill shadow-sm">Back End</a>
                    </div>
                </div>
                <div class="hide d-flex flex-column">
                    <i id="github" style="font-size: 10rem;" class="bi bi-github"></i>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="p-5 mt-0">
    <div class=" px-5 section  rounded-4 container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic fs-5 text-muted">Looking Forward To Hear From You 😉</p>
            </div>
        </div>

        <div class="row text-center">

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div id="blue" class="rounded shadow-sm teamCard py-5 px-4">
                    <h5 class="fs-4 mb-0">Rawan Aboegila</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="fs-4  list-inline-item"><a href="https://github.com/rAboegila" class="text-muted"><i
                                    class="bi bi-github"></i></a>
                        </li>
                        <li class="fs-4  list-inline-item"><a href="https://www.linkedin.com/in/rawan-aboegila"
                                class="text-muted"><i class="bi bi-linkedin"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div id="red" class=" teamCard rounded shadow-sm py-5 px-4">
                    <h5 class="fs-4 mb-0">Nada Ezzat</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="fs-4  list-inline-item"><a href="https://github.com/nadaezzat-99"
                                class="text-muted "><i class="bi bi-github"></i></a>
                        </li>
                        <li class="fs-4  list-inline-item"><a href="https://www.linkedin.com/in/nada-al-feqy"
                                class="text-muted"><i class="bi bi-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div id="green" class=" teamCard rounded shadow-sm py-5 px-4">
                    <h5 class="fs-4 mb-0">Somaya Ahmed</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="fs-4  list-inline-item"><a href="https://github.com/somayaax" class="text-muted"><i
                                    class="bi bi-github"></i></a>
                        </li>
                        <li class="fs-4  list-inline-item"><a href="http://linkedin.com/in/somaya-ahmed"
                                class="text-muted"><i class="bi bi-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>