<nav class=" navbar navbar-expand-md navbar-light ">
    <div class="container-fluid  d-flex align-items-start mt-2 ">
        <div class="d-flex align-items-start ">
            <button class="btn btn-login me-2 btn-lg " routerLink="/about" routerLinkActive="btn-active"> About
                Us</button>
            <button class="btn btn-login me-2  btn-lg " *ngIf="!isLogin" routerLink="/register"
                routerLinkActive="btn-active">
                Register</button>
            <button class="btn btn-login me-2 btn-lg " *ngIf="!isLogin" routerLink="/login"
                routerLinkActive="btn-active">
                Login</button>
            <button class="btn btn-login me-2  btn-lg " *ngIf="isLogin" (click)="logout()">Log Out</button>
        </div>
        <ng-container *ngIf="isLogin && user">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

                <ul class="navbar-nav ">
                    <li class="navItem nav-item ">
                        <a class="nav-link" routerLink="todos/all" routerLinkActive="active-link" (click)="showAll()">
                            <i id="all" class="text-warning fs-1 bi bi-list-check"></i>
                        </a>
                    </li>
                    <li class="navItem nav-item ">
                        <a class="nav-link" routerLink="todos/favourite" routerLinkActive="active-link"
                            (click)="showFav()">
                            <i id="fav" class="text-danger fs-1 bi bi-heart-fill"></i>
                            <span class="badge notification rounded-pill bg-secondary ">{{counters.favCount}}%</span>

                        </a>
                    </li>
                    <li class="navItem nav-item ">
                        <a class="nav-link" routerLink="todos/deleted" routerLinkActive="active-link"
                            (click)="showDeleted()">
                            <i id="deleted" class="text-primary fs-1 bi bi-archive-fill"></i>
                            <span class="badge  notification bg-secondary ">{{counters.deletedCount}}%</span>
                        </a>
                    </li>
                    <li class="navItem nav-item ">
                        <a class="nav-link " routerLink="todos/completed" routerLinkActive="active-link"
                            (click)="showCompeleted()">
                            <i id="complete" class="text-success fs-1 bi bi-check-square-fill"></i>
                            <span class="badge notification bg-secondary">{{counters.completedCount}}%</span>

                        </a>
                    </li>
                    <li class=" nav-item ">
                        <a class="nav-link" routerLink="user" routerLinkActive="active-link">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                class="rounded-circle z-depth-0" alt="avatar image" height="60" />
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</nav>