.navbar {
  --bs-navbar-padding-y: 0;
}
#username {
  font-size: 22px;
  line-height: 53px;
  letter-spacing: 0.043em;
  font-weight: 500;
}
.navItem {
  padding-right: 30px;
}

.notification {
  line-height: 0.6;
  font-size: 13px;
  letter-spacing: 0em;
  margin-left: -20px;
  font-weight: bold;
}
@media (width <= 768px) {
  .notification {
    font-size: 10px;
    margin-left: -11px;
  }
  .navbar-nav {
    flex-direction: row;
    margin-top: 5px;
    margin-top: 20px;
    margin-left: 31px;
  }
}

.notification-sm {
  font-size: 11px;
  margin-left: 2px;
}

.active-link > #all {
  /* background-color: #f6e1e6; */
  color: #daa506 !important;
}
#all {
  background-color: rgba(250, 237, 221, 0.45);
}
.active-link > #fav {
  /* background-color: #f6e1e6; */
  color: #b62a38 !important;
}

.active-link > #deleted {
  /* background-color: #f6e1e6; */
  color: #0c5cd3 !important;
}
.active-link > #complete {
  /* background-color: #f6e1e6; */
  color: #105a38 !important;
}
.btn-login {
  background-color: #ffdf80;
}
.btn-login:hover,
.btn-login:active,
.btn-login:focus,
.btn-active {
  background-color: #ffd147;
}
