<nav class=" navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <button class="btn btn-warning btn-lg" *ngIf="!isLogin" (click)="register()"> Register</button>
        <button class="btn btn-warning btn-lg" *ngIf="isLogin" (click)="logout()">Log Out</button>
        <ul class="navbar-nav ms-auto d-flex flex-row">

            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class="text-danger fs-1 bi bi-heart-fill"></i>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class="text-primary fs-1 bi bi-archive-fill"></i>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class=" text-success fs-1 bi bi-check-square-fill"></i>
                </a>
            </li>

            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                        alt="avatar image" height="60" />
                </a>
            </li>
        </ul>
    </div>
</nav>