<section class="TDForm">
    <form class="w-50 m-auto my-5 rounded shadow" #form="ngForm" style="background-color: #f7eef0;padding: 2rem;"
        (ngSubmit)="login(form)">
        <div *ngIf="errors" class="alert alert-danger d-flex align-items-center mx-auto mb-2" role="alert">
            <i class="bi bi-exclamation-circle me-2"></i>
            <div>
                {{errors}} </div>
        </div>
        <div>
            <label for="username">Username</label>
            <input class="form-control" [ngClass]="userName.touched ? userName.errors ? 'not-valid':'valid' :''"
                name="userName" ngModel #userName="ngModel" type="text" id="username" required>
            <div class="mt-2 text-danger" *ngIf="userName.touched && userName.errors?.['required']">
                <p><i class="bi bi-exclamation-circle me-2"></i>userName required</p>
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <input class="form-control" [ngClass]="password.touched ? password.errors ? 'not-valid':'valid' :''"
                name="password" #password="ngModel" ngModel type="password" id="password" required>
            <div class="mt-2 text-danger" *ngIf="password.touched && password.errors?.['required']">
                <p><i class="bi bi-exclamation-circle me-2"></i>password required</p>
            </div>
        </div>

        <button class="btn btn-primary mt-3" type="submit" [disabled]="!form.valid">login</button>
    </form>
</section>