<section class="TDForm">
    <form class="w-50 m-auto my-5 rounded shadow" style="    background-color: #f7eef0;padding: 2rem;">
        <div>
            <label for="username">username</label>
            <input class="form-control" name="username" [(ngModel)]="username" type="text" id="username" required>
        </div>
        <label for="password">Password</label>
        <input class="form-control" name="password" [(ngModel)]="password" type="password" id="password" required>
        <button class="btn btn-primary mt-3" type="submit" (click)="login()">login</button>
    </form>
</section>