<app-qoute></app-qoute>
<section class="mx-auto p-2  mb-5">
  <div class="">
    <!-- <form #taskForm="ngForm" (ngSubmit)="submitMyTodo(taskForm)" *ngIf="todosCategory ==='all'">
      <div class="align-items-center justify-content-around mx-2">
        <div class="">
          <div class="form-row d-flex  align-items-center">
            <div class="col-sm-4 col-md-6 me-1">
              <input #title="ngModel" type="text" class="form-control me-1 my-2 " placeholder="Begin new Achievement"
                autocomplete="off" required minlength="3" name="title" ngModel />
            </div>
            <div class="col-sm-2 col-md-3 me-1">
              <select class="form-select" aria-label="Default select example" name="priority" [(ngModel)]="priority">
                <option value="Low" selected>Select Priority</option>
                <option value="Low">Low</option>
                <option value="Moderate">Moderate</option>
                <option value="High">High</option>
              </select>
            </div>
            <div class="col-sm-2 col-md-2 me-1">
              <input [min]="minDate" [max]="maxDate" name="deadline" ngModel type="date">
            </div>
            <div class="col-sm-2 col-md-1 me-1">
              <button type="submit" class="btn btn-danger ">
                Add
              </button>
            </div>
          </div>

          <p *ngIf="(title.touched && title.errors)" class="text-danger text-uppercase">Title is required</p>
          <p *ngIf="title.touched && title.errors?.['title']" class="text-danger text-uppercase">Title is not valid
          </p>
        </div>
      </div>
    </form> -->
    <form #taskForm="ngForm" (ngSubmit)="submitMyTodo(taskForm)" *ngIf="todosCategory ==='all'"
      class="row row-cols-md-auto row-cols-lg-auto g-1 align-items-center d-flex justify-content-center">
      <div class=" col-md-3 col-lg-6 col-12">

        <input #title="ngModel" type="text" class="form-control  me-1 my-2 " placeholder="Begin new Achievement"
          autocomplete="off" required minlength="3" name="title" ngModel />

      </div>

      <div class=" col-lg-3 col-12">
        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        <select class="form-select" aria-label="Default select example" name="priority" [(ngModel)]="priority">
          <option value="Low" selected>Select Priority</option>
          <option value="Low">Low</option>
          <option value="Moderate">Moderate</option>
          <option value="High">High</option>
        </select>
      </div>

      <div class="col-lg-2 col-12">
        <input [min]="minDate" [max]="maxDate" name="deadline" ngModel type="date">
      </div>

      <div class="col-lg-1 col-12">
        <button type="submit" class="btn btn-danger ">
          Add
        </button>
      </div>
    </form>
    <br />
  </div>

  <div style="background-color: #ffffff" class="rounded shadow">
    <ul class="ps-0">
      <div class="py-2">
        <h5 *ngIf="!filteredTodos.length" class="text-center">nothing in This list yet</h5>
      </div>
      <app-todo *ngFor="let todo of filteredTodos" [todo]="todo" [todosCategory]="todosCategory"
        (deleteTodoEvent)="editTodoStatus(todo, 'deleted')" (completeTodoEvent)="editTodoStatus(todo, 'completed')"
        (favouriteTodoEvent)="editTodoStatus(todo, 'favourite')"
        (undoDeleteEvent)="editTodoStatus(todo, 'deleted')"></app-todo>
    </ul>
  </div>
</section>