<ng-container *ngIf="todo">
  <div class="row w-75 m-auto shadow rounded my-4 align-items-center" id="details">
    <div class="col-md-6">
    <div class="text-center">
      <h1>{{ todo.title }}
        <i [ngClass]="todo.status.favourite ? 'bi-suit-heart-fill':'bi-suit-heart'" class="text-danger fs-2 bi px-2"></i>
        <i [ngClass]="todo.status.completed ? 'bi bi-check text-success':'bi bi-x text-danger'"
          class="text-success fs-1 bi px-2" style="font-size: 200px;"></i>
      </h1>
      <br />
      <p *ngIf="todo.description">
        {{ todo.description }}
      </p>

      <h3>
        priority: {{ todo.priority }}
        <i class="bi bi-square-fill px-2 fs-2" [ngClass]="
          todo.priority === 'High'
            ? ' bi bi-square-fill  high'
            : todo.priority === 'Moderate'
            ? ' bi bi-square-fill  moderate'
            : ' bi bi-square-fill  low'
        "></i>
      </h3>
      <br>
      <h3 class="counter mx-auto shadow rounded" *ngIf="!todo.status.completed">{{tickTock}}</h3>
      <h3 class="counter mx-auto shadow rounded" *ngIf="todo.status.completed">Task finished</h3>
      <br>
      <br>
    </div>
    <div class="d-flex align-items-center justify-content-between m-auto steps-form">
      <input class="form-control" type="text" name="step" id="step" [(ngModel)]="step"
        placeholder="add steps to your todo" />
      <button class="btn btn-danger" type="button" (click)="modifySteps()">
        Add
      </button>
    </div>
    <br />
    <ul class="text-center">
      <li class="list-group-item fs-3" *ngFor="let step of todo.steps">
        <input type="checkbox" [checked]="step.isChecked" (click)="toggleStepState(step)" /> <span class="ms-1"
          [ngClass]=" step.isChecked ? 'text-decoration-line-through' : 'text-decoration-none'"> {{ step.text }}</span>
      </li>
    </ul>  
  </div>
    <div  class="col-md-6">
    <div class="container" fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card class="w-75">
          <mat-calendar   [minDate]="today" [(selected)]="todo.deadline" (selectedChange)="onSelect($event)"></mat-calendar>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>