@import '../../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';

#details{
   background-color: #f7eef0;
   padding: 20px;
   margin-top: 200px;
}

/* CSS alternative */
::ng-deep .mat-calendar-body-active , .mat-calendar-body-selected{
    color: firebrick;
}

.high
{
    color: red;
}

.moderate
{
    color: rgb(232, 194, 45);
}

.low
{
    color: rgb(154, 232, 45);
}

.counter{
    background: #dfd8d8;
    width: fit-content;
    padding: 2rem 4rem;
}

.steps-form{
    width: 50%;
}


.mat-calendar-body-active > .mat-calendar-body-today {
    color: red;
    background-color: blue;
}

@media only screen and (max-width: 600px) {
    .steps-form{
        width: 95%;
        flex-direction: column;
    }
    .steps-form button{
        margin-top:0.5rem
    }
}