/* You can add global styles to this file, and also import other style files */
body {
  /* background: linear-gradient(
    180deg,
    rgba(244, 249, 255, 1) 0%,
    rgba(246, 234, 240, 1) 78%,
    rgba(247, 236, 237, 1) 100%
  ); */
  background: rgba(247, 236, 237, 1);
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: 100%;
}

body::after {
  content: "";
  background: url('assets/PatternUnit.png');
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
