/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
 body {
  background: linear-gradient(
    180deg,
    rgba(244, 249, 255, 1) 0%,
    rgba(246, 234, 240, 1) 78%,
    rgba(247, 236, 237, 1) 100%
  );

  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100vh;
}

body::after {
  content: "";
  background: url(./assets/PatternUnit.png);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
} 

app-root {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
