<li [ngClass]="this.todo.status.completed ? 'completed' : 'normal'"
  class=" todo list-group-item py-2 my-2 ml-3 d-flex align-items-center justify-content-between"
  *ngIf="(todo.status.deleted ? (todosCategory === 'deleted'):true)">

  <span style="cursor: pointer;" (click)="completeTodo()">{{
    todo.title }}
  </span>

  <div>
    <button id='deleteIcon' type="button" class="btn  mx-1" *ngIf="!todo.status.deleted"
      [ngClass]="todo.status.completed ? 'text-decoration-none' : 'text-decoration-none'"
      (click)="confirmRemoveTodo()"><i class="fs-5 text-danger bi bi-x-circle-fill"></i>
    </button>

    <button id='favIcon' type="button" class="btn  mx-1" [disabled]="todo.status.deleted"
      [ngClass]="todo.status.completed ? 'text-decoration-none' : 'text-decoration-none'" (click)="favTodo()"> <i
        [ngClass]="todo.status.favourite ? 'bi-suit-heart-fill':'bi-suit-heart'" class="text-danger fs-5 bi"></i>
    </button>


  </div>
</li>

<!-- Confirm delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{todo.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletedModal"
          (click)="removeTodo()">Delete Todo</button>
      </div>
    </div>
  </div>
</div>



<!-- Deleted successfuly -->
<div class="modal fade" id="deletedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> {{todo.title}} task has bees deleted successfuly .</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" (click)="undo()">Undo</button> -->
      </div>
    </div>
  </div>
</div>